<div class="div">
  <h3>Here Is What Our ProGrads Have To Say</h3>
  <div class="container">
    <div>
      <p><span>PRAVESH, FSD0A0221</span> </p>
      <p>Hi this is pravesh from delhi , Prograd helped me so much that about frontend and backend that i have never
        learnt to this extent in my college</p>
    </div>
    <hr>
    <p><span>ROBIN HOODA, FSD0B0001</span></p>
    <p>ProGrad not only helped me in utilizing my knowledge to the best of my capabilities but also nurtured my
      technical skills and competencies. </p>
  </div>
</div>
